.questions{
    @include for-phone-only{
        margin-top: 20px;
    }
    &__container {
        @include for-phone-only{
            margin: 25px auto 25px auto;
        }
    }
    &__question{
        margin-bottom: 20px;
        @include for-phone-only{
            margin-bottom: 25px;
        }
        &--wrapper{
            display: flex;
            justify-content: space-between;
        }
        .question{
            @include font-size(20px);
            font-weiht: $bold;

            &__btn {
                align-items: center;
                display: flex;
                width: 10%;

                svg{
                    width: 25px;
                    margin: 0 auto;
                }
            }
        }
    }
    &__answer{
        background-color: rgba(25, 61, 106, .25);
        margin: 10px 0;
        line-height: 1.5rem;
                padding: 20px 25px 5px 25px;
                width: 95%;

                a {
                    color: $navy;
                    font-weight: $bold;
                }
                p{
                    margin-bottom: 1rem;
                }
    }
}