.cta {
    &__info {
        &__left,
        &__right{
            padding: 25px;
            @include for-phone-only {
                padding: 40px 30px;
            }
            h2, h3 {
                text-transform: uppercase;
                font-weight: $bold;
                font-style: italic;
                @include font-size(42px);
            }
        }

        &__left {
            color: $white;
            position: relative;
            line-height: 1.75rem;
            &:before{
                content: '';
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                background: linear-gradient(90deg,rgba(13, 31, 53, 0.5), rgba(13, 31, 53, 0.75) );
                bottom: 0;
                z-index: 0;
                left: 0;
            }
            &--content {
                z-index: 10;
                position: relative;
            }
            &--hours {
                i {
                    @include font-size(22px);
                }
                .hours{
                    line-height: 1.5rem;
                    font-weight:400;
                    letter-spacing: 2px;
                }
            }
        }

        &__right {
            text-align: left;
        }
    }
    &__block {
        margin: 50px auto;
        @include for-phone-only{
            margin: 0px auto;
        }
        &--left,
        &--right {
            padding: 30px;
        }
        &--left {
            text-align: center;
            background-color: $tanish;
            .heading {
                color: $navy;
            }
        }
        &--right {
            background-color: $navy;
            color: $white;
            text-align: right;
            
        }
        &--content {
            z-index: 10;
        }
        &--orders {
            @include font-size(18px);
            color: $white;
            .step {
                a {
                    color: $white !important;
                }
            }
        }
    }
    &__banner {
        padding: 50px 25px 50px 25px;
        color: $white;
        background-color: $navy;
        &--content{
            text-align: center;
            h2{
                margin-bottom: 0px;
                line-height: 1;
            }

        }
    }
}