.faq {
    margin: 40px auto 40px auto;
    &__how-to-order {
        margin: 0px auto 25px auto;
    }
    &__order-steps {
        list-style: normal;
        font-weight: bold;
        @include font-size(18px);
        .step {
            color: $navy;
            .details {
                padding-left: 1rem;
                font-weight: normal;
                margin-bottom: 0px;
                li {
                    font-size: 1.1rem;
                    margin-bottom: 0px;
                }
            }

        }
       @include for-phone-only {
           padding-inline-start : 20px;
       }
    }
    .page-heading {
        color: $navy !important;
        text-transform: uppercase;
        @include font-size(38px);
        font-weight: $bold;
    }
}