.hero {
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    @include for-phone-only{
        margin-bottom: 0px;
    }
    
    &__content {
        &--title {
            text-transform: uppercase;
            letter-spacing: 22px;
            font-weight: $heavy;
            

            @include for-phone-only {
                line-height: 1em;
            }
        }
    }
    &__style{
        &--color{
            background: $gradient;
        }
        &--image {
            background-size: cover;
        }
    }
    &.light{
        color: $white !important;
    }
    &__home,
    &__shop {
        .hero__content{
            &--title {
                @include for-desktop-up {
                    font-size: 6rem;
                }
            }
        }
    }

    &__page{
        height: 300px;

        .hero__content{
            &--title{
                font-weight: $regular;
                line-height: 1em;
                letter-spacing: 1px;
                text-transform: none;
            }
            &--content{
                @include font-size(22px);    
            }
        }
    }
}