//CATEGORY CONTAINER
.catmenu{
    margin: 50px auto 50px auto;
    &__wrapper {
        @include for-phone-only {
            margin-bottom: 20px;
        }
    }
    &__card{
        border-radius: 25px;
        text-align: center;
        height: 180px;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
        color: $white !important;
        text-decoration: none !important;
        &--inner{
            z-index: 100;
            text-transform: uppercase;
            margin-bottom: 0px;
            font-weight: $bold;
            @include font-size(26px);
            @include for-phone-only {
                @include font-size(20px);
            }
        }
        @include for-phone-only {
            height: 125px;
        }
    }
}

.catmenu__card:before{
    content: '';
        display: block;
        border-radius: 25px;
        position: absolute;
        height: 100%;
        color: #fff;
        width: 100%;
        opacity: 1;
        bottom: 0;
        transition: opacity 0.5s ease-out;
        background: linear-gradient(120deg, rgba(58, 28, 113, 0.60), rgba(215, 109, 119, 0.60), rgba(255, 175, 123, 0.60));
}

.catmenu__card:hover:before{
    opacity: 0;
}