html {
  height: 100%;
  @include font-size(18px);
  color: $text;
  line-height: 1rem;

}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  font-family: $base;
}
