.btn {
    width: 275px !important;
    height: 50px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    border: none;
    justify-content: center;
    border-radius: 0;
    text-decoration: none;

    &:hover{
        font-weight: $bold;
        text-decoration: none;
        transition: all .5s ease-in-out;
    }

    &__special {
        border: 3px solid $white;
        color: $white !important;
        &:hover{
            border: 3px solid transparent;
            background-color: #ffffff;
            color: $navy !important;
        }
    }

    &__primary {
        border: 3px solid $white;
        background-color: $white;
        color: $coral;
        &:hover {
            background-color: transparent;
            border: 3px solid $coral;
            color: $white !important;

        }
    }

    &__alt {
        border: 3px solid $navy;
        background-color: $navy;
        a {
            color: $coral;
        }

        &:hover {
            background-color: $coral;
            border-color: $coral !important;
            a{
                color: $navy;
            }
        }
    }
}