h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

h5,
.h5 {
  @include h5;
}

h6,
.h6 {
  @include h6;
}

a{
  color: #252627 !important;
}

ol,
ul {
  list-style: none;
}

.heading {
  text-transform: uppercase;
  font-weight: $bold;
  font-style: italic;
  letter-spacing: 2px;
}

p {
  @include for-phone-only {
    line-height: 1.5rem;
  }
}