//FONTS
@import url("https://use.typekit.net/twp8dcg.css");
$base: 'mr-eaves-modern', sans-serif;


//WEIGHTS
$thin: 100;
$light: 200;
$book: 300;
$regular: 400;
$bold: 700;
$heavy: 800;

//colors
$coral : #f77d6b;
$other : rgba(255, 175, 123, 0.6);
$navy: #193d6a;
$purple: rgba(58, 28, 113, 0.6);
$pink: rgba(215, 109, 119, 0.6);
$lime: #85ffc7;
$accent-navy: #42759f;
$text: #252627;
$tanish: #FCFAF7;
$white: #ffffff;
$gradient2: linear-graident(20deg,$purple, $pink, $other);
$gradient: linear-gradient(90deg, $purple, $pink, $other);
// $gradient: linear-gradient(90deg, rgba(58, 28, 113, 0.6),rgba(215, 109, 119, 0.6), rgba(255, 175, 123, 0.6));