.footer {
    padding: 25px 0 25px 0;
    text-align: center;
    .custom-logo {
        width: 100px;
        height: auto;
    }

    &__content{
        margin-top: 10px;
        .text-order {
            text-transform: uppercase;
            margin-bottom: 0px;
            font-weight: bold;
        }
        .text-link {
            font-weight: $regular;
        }
    }
    &__hours {
        p{
            margin-bottom: 0px;
        }
    }
    

}