.header{
    margin-bottom: 20px;
    @include for-phone-only {
        padding-top: 1rem;
    }
    &__nav {
        &-toggler {
            background: none;
            border: none;
            display: none;
            padding: 0px 15px 0px 15px;
            @include font-size(32px);
            @include for-phone-only {
                display: inline-block;
            }
            &--wrapper {
                width: auto;
                height: auto;
                vertical-align: middle;
                i {
                    vertical-align: middle;
                    color: $navy !important;
                    
                }
            }
        }
        @include for-phone-only {
            display: block;
        }
    }
    &__logo{
        margin-bottom: 0;
        .custom-logo-link {
            img {
                width: 100px;
                height: auto;
                @include for-phone-only {
                    width: 75px;
                }
            }
        }
    }
    .navbar-collapse {
        transition: height 2s ease-in-out;
        @include for-phone-only {
            text-align: center;
            margin-top: 20px;
            
        }
        .nav-item {
            @include for-phone-only {
                padding: 15px;
            @include font-size(18px);
            &.current_page_item {
                background: $gradient;
                .nav-link {
                    color: $white !important;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            }
        }

    }
}